---
const today = new Date();
---

<footer class='container mt-8'>
  <div class="justify-center flex gap-4 py-8 prose dark:prose-invert text-sm">
    <a href="https://www.linkedin.com/in/subham-jalan/">Linkedin</a>
    <a href="https://www.github.com/jalan-subham">Github</a>
    <!-- <a href="https://www.instagram.com/subumpls">Instagram</a> -->
  </div>

	<div class='py-4 border-t dark:border-t-zinc-700'>
    <div class="md:flex text-sm text-zinc-500 dark:text-zinc-300 prose dark:prose-invert justify-between">
      <div>Copyright © {today.getFullYear()} Subham Jalan</div>
      <!-- Please leave the credit if you dont make a significant changes to the template. It's just a nofollow link :) 
      <div>Template </a></div>       -->
    </div>
	</div>
</footer>
