---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectList from '../../components/ProjectList.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

type Project = CollectionEntry<'projects'>;
export const projects = (await getCollection('projects')).sort((a: Project, b: Project) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout
	title="projects"
	description="All my project portfolio from real projects to open source projects."
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-2">projects</h1>
      <p class="text-zinc-700 dark:text-zinc-300 text-lg">this is why I'm not regular to the gym</p>
    </div>
    <ProjectList projects={projects}/>
  </div>
</BaseLayout>
